In [1]:
pip install plotly

Requirement already satisfied: plotly in c:\users\kaushik\anaconda3\lib\site-packages (5.10.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from plotly) (8.1.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install cufflinks

Collecting cufflinks
  Downloading cufflinks-0.17.3.tar.gz (81 kB)
     ---------------------------------------- 81.7/81.7 kB 1.1 MB/s eta 0:00:00Note: you may need to restart the kernel to use updated packages.
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.9.2 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (1.21.2)
Requirement already satisfied: pandas>=0.19.2 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (1.1.0)
Requirement already satisfied: plotly>=4.1.1 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (5.10.0)
Requirement already satisfied: six>=1.9.0 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (1.16.0)
Collecting colorlover>=0.2.1
  Downloading colorlover-0.3.0-py3-none-any.whl (8.9 kB)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (58.0.4)
Requirement already satisfied: ipython>=5.3.0 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (7.29.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from cufflinks) (7.6.5)
Requirement already satisfied: backcall in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: pygments in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (2.10.0)
Requirement already satisfied: jedi>=0.16 in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.18.0)
Requirement already satisfied: colorama in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.0)
Requirement already satisfied: pickleshare in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: decorator in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.0)
Requirement already satisfied: matplotlib-inline in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (3.0.20)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\kaushik\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (6.4.1)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (3.5.1)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (5.1.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kaushik\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in c:\users\kaushik\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2021.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from plotly>=4.1.1->cufflinks) (8.1.0)
Requirement already satisfied: jupyter-client<8.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (7.0.1)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\kaushik\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.4.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\kaushik\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.2)
Requirement already satisfied: jupyter-core in c:\users\kaushik\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.8.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\kaushik\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (3.2.0)
Requirement already satisfied: wcwidth in c:\users\kaushik\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.2.5)

Requirement already satisfied: notebook>=4.4.1 in c:\users\kaushik\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.5)
Requirement already satisfied: attrs>=17.4.0 in c:\users\kaushik\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\kaushik\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.18.0)
Requirement already satisfied: pyzmq>=13 in c:\users\kaushik\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (22.2.1)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\kaushik\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.1)
Requirement already satisfied: entrypoints in c:\users\kaushik\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (0.3)
Requirement already satisfied: pywin32>=1.0 in c:\users\kaushik\anaconda3\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (300)
Requirement already satisfied: terminado>=0.8.3 in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.9.4)
Requirement already satisfied: jinja2 in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.1.2)
Requirement already satisfied: prometheus-client in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.11.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.8.0)
Requirement already satisfied: nbconvert in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.0.7)
Requirement already satisfied: argon2-cffi in c:\users\kaushik\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (20.1.0)
Requirement already satisfied: pywinpty>=0.5 in c:\users\kaushik\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.14.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.1.1)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: bleach in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.0.0)
Requirement already satisfied: testpath in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.4.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.3)
Requirement already satisfied: defusedxml in c:\users\kaushik\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: pycparser in c:\users\kaushik\anaconda3\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.20)
Requirement already satisfied: async-generator in c:\users\kaushik\anaconda3\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.10)
Requirement already satisfied: webencodings in c:\users\kaushik\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: packaging in c:\users\kaushik\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\kaushik\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.0.4)
Building wheels for collected packages: cufflinks
  Building wheel for cufflinks (setup.py): started
  Building wheel for cufflinks (setup.py): finished with status 'done'
  Created wheel for cufflinks: filename=cufflinks-0.17.3-py3-none-any.whl size=68734 sha256=ce8d88aa8ea4147dbba86196a3c123c1537a1aa0c43b46688345723440761564
  Stored in directory: c:\users\kaushik\appdata\local\pip\cache\wheels\6b\76\62\6da97734911ffcbdd559fd1a3f28526321f0ae699182a23866
Successfully built cufflinks
Installing collected packages: colorlover, cufflinks
Successfully installed colorlover-0.3.0 cufflinks-0.17.3

In [3]:
pip install chart-studio

Collecting chart-studioNote: you may need to restart the kernel to use updated packages.
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     ---------------------------------------- 64.4/64.4 kB 1.2 MB/s eta 0:00:00

Requirement already satisfied: requests in c:\users\kaushik\anaconda3\lib\site-packages (from chart-studio) (2.26.0)
Requirement already satisfied: six in c:\users\kaushik\anaconda3\lib\site-packages (from chart-studio) (1.16.0)
Requirement already satisfied: retrying>=1.3.3 in c:\users\kaushik\anaconda3\lib\site-packages (from chart-studio) (1.3.3)
Requirement already satisfied: plotly in c:\users\kaushik\anaconda3\lib\site-packages (from chart-studio) (5.10.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\kaushik\anaconda3\lib\site-packages (from plotly->chart-studio) (8.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kaushik\anaconda3\lib\site-packages (from requests->chart-studio) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kaushik\anaconda3\lib\site-packages (from requests->chart-studio) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kaushik\anaconda3\lib\site-packages (from requests->chart-studio) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kaushik\anaconda3\lib\site-packages (from requests->chart-studio) (2.0.4)
Installing collected packages: chart-studio
Successfully installed chart-studio-1.1.0

In [1]:
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
import seaborn as sns
import json
import plotly.express as px
%matplotlib inline

# Make Plotly work in your Jupyter Notebook
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)
# Use Plotly locally
cf.go_offline()

import plotly.io as pio
pio.renderers.default = 'browser'

In [2]:
indian_crime_df = pd.read_csv('../datasets folder/dstrIPC_1.csv')
display(indian_crime_df)

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,ARSON,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,17,50,0,50,46,...,30,1131,16,149,34,175,0,181,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,1,23,0,23,53,...,69,1543,7,118,24,154,0,270,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,2,27,0,27,59,...,38,2088,14,112,83,186,0,404,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,1,20,0,20,25,...,23,795,17,126,38,57,0,233,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,1,23,0,23,49,...,41,1244,12,109,58,247,0,431,2313,6507
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9012,LAKSHADWEEP,LAKSHADWEEP,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9013,LAKSHADWEEP,TOTAL,2012,0,0,0,0,0,0,0,...,3,3,0,1,0,1,0,0,32,60
9014,PUDUCHERRY,KARAIKAL,2012,5,6,2,6,0,6,2,...,1,186,0,2,0,1,0,44,392,787
9015,PUDUCHERRY,PUDUCHERRY,2012,24,21,10,7,0,7,17,...,20,632,0,7,2,5,0,219,1668,3494
9016,PUDUCHERRY,TOTAL,2012,29,27,12,13,0,13,19,...,21,818,0,9,2,6,0,263,2060,4281

### Exrtacting the data for year 2001

In [3]:
crime_dataset_2001 = indian_crime_df.loc[indian_crime_df.YEAR == 2001]
crime_dataset_2001 = crime_dataset_2001.groupby('STATE/UT')['TOTAL IPC CRIMES'].sum()
crime_dataset_2001['TELANGANA'] = 1000
crime_dataset_2001

STATE/UT
A & N ISLANDS          1316
ANDHRA PRADESH       260178
ARUNACHAL PRADESH      4684
ASSAM                 73754
BIHAR                176864
CHANDIGARH             6794
CHHATTISGARH          76920
D & N HAVELI            700
DAMAN & DIU             478
DELHI UT             108768
GOA                    4682
GUJARAT              206838
HARYANA               77518
HIMACHAL PRADESH      22998
JAMMU & KASHMIR       39010
JHARKHAND             50894
KARNATAKA            218196
KERALA               207694
LAKSHADWEEP              72
MADHYA PRADESH       363482
MAHARASHTRA          342466
MANIPUR                4978
MEGHALAYA              3374
MIZORAM                4492
NAGALAND               2468
ODISHA                93322
PUDUCHERRY             8136
PUNJAB                55548
RAJASTHAN            310370
SIKKIM                  888
TAMIL NADU           309602
TRIPURA                5602
UTTAR PRADESH        356258
UTTARAKHAND           16146
WEST BENGAL          123126
TELANGANA              1000
Name: TOTAL IPC CRIMES, dtype: int64

### Extracting the co-ordinates for the indian map

In [4]:
india_states = json.load(open('../datasets folder/states_india.geojson', 'r'))

In [5]:
## Contains the id and state index to plot the graph
state_id_map = {}
for feature in india_states["features"]:
    feature["id"] = feature["properties"]["state_code"]
    state_id_map[feature["properties"]["st_nm"]] = feature["id"]

state_id_map

{'Telangana': 0,
 'Andaman & Nicobar Island': 35,
 'Andhra Pradesh': 28,
 'Arunanchal Pradesh': 12,
 'Assam': 18,
 'Bihar': 10,
 'Chhattisgarh': 22,
 'Daman & Diu': 25,
 'Goa': 30,
 'Gujarat': 24,
 'Haryana': 6,
 'Himachal Pradesh': 2,
 'Jammu & Kashmir': 1,
 'Jharkhand': 20,
 'Karnataka': 29,
 'Kerala': 32,
 'Lakshadweep': 31,
 'Madhya Pradesh': 23,
 'Maharashtra': 27,
 'Manipur': 14,
 'Chandigarh': 4,
 'Puducherry': 34,
 'Punjab': 3,
 'Rajasthan': 8,
 'Sikkim': 11,
 'Tamil Nadu': 33,
 'Tripura': 16,
 'Uttar Pradesh': 9,
 'Uttarakhand': 5,
 'West Bengal': 19,
 'Odisha': 21,
 'Dadara & Nagar Havelli': 26,
 'Meghalaya': 17,
 'Mizoram': 15,
 'Nagaland': 13,
 'NCT of Delhi': 7}

In [6]:
crime_dataset_2001_dict = crime_dataset_2001.to_dict()
crime_dataset_2001_dict

{'A & N ISLANDS': 1316,
 'ANDHRA PRADESH': 260178,
 'ARUNACHAL PRADESH': 4684,
 'ASSAM': 73754,
 'BIHAR': 176864,
 'CHANDIGARH': 6794,
 'CHHATTISGARH': 76920,
 'D & N HAVELI': 700,
 'DAMAN & DIU': 478,
 'DELHI UT': 108768,
 'GOA': 4682,
 'GUJARAT': 206838,
 'HARYANA': 77518,
 'HIMACHAL PRADESH': 22998,
 'JAMMU & KASHMIR': 39010,
 'JHARKHAND': 50894,
 'KARNATAKA': 218196,
 'KERALA': 207694,
 'LAKSHADWEEP': 72,
 'MADHYA PRADESH': 363482,
 'MAHARASHTRA': 342466,
 'MANIPUR': 4978,
 'MEGHALAYA': 3374,
 'MIZORAM': 4492,
 'NAGALAND': 2468,
 'ODISHA': 93322,
 'PUDUCHERRY': 8136,
 'PUNJAB': 55548,
 'RAJASTHAN': 310370,
 'SIKKIM': 888,
 'TAMIL NADU': 309602,
 'TRIPURA': 5602,
 'UTTAR PRADESH': 356258,
 'UTTARAKHAND': 16146,
 'WEST BENGAL': 123126,
 'TELANGANA': 1000}

### Function to check missing states

In [7]:
def check_missing_state_names(state_id_map, crime_dict):
    if type(state_id_map) != type(list()):
        state_id_map_list = state_id_map.keys()
        crime_list = crime_dict.keys()
    else:
        state_id_map_list = state_id_map
        crime_list = crime_dict
        
    missing_states = [state for state in crime_list if state not in [state.upper() for state in state_id_map_list]]
    correct_states = [state for state in state_id_map_list if state.upper() not in [state for state in crime_list]]
    return missing_states, correct_states

missing_state_list, correct_states = check_missing_state_names(state_id_map=state_id_map, crime_dict=crime_dataset_2001_dict)
print(missing_state_list)
print(correct_states)

['A & N ISLANDS', 'ARUNACHAL PRADESH', 'D & N HAVELI', 'DELHI UT']
['Andaman & Nicobar Island', 'Arunanchal Pradesh', 'Dadara & Nagar Havelli', 'NCT of Delhi']

### Function to change the state names

In [8]:
def change_state_names(missing_state_list, crime_dict, correct_states):
    for i in range(len(missing_state_list)):
        crime_dict[correct_states[i].upper()] = crime_dict[missing_state_list[i]]
        del crime_dict[missing_state_list[i]]
    return crime_dict

In [9]:
changed_crime_dict = change_state_names(missing_state_list=missing_state_list, crime_dict=crime_dataset_2001_dict, correct_states=correct_states)

In [10]:
check_missing_state_names(state_id_map=state_id_map, crime_dict=changed_crime_dict)

([], [])

In [11]:
state_id_map = dict(sorted(state_id_map.items()))
change_crime_dict = dict(sorted(changed_crime_dict.items()))

In [12]:
len(change_crime_dict)

36

In [13]:
total_crime_2001_dataset = pd.DataFrame({
    "id" : list(state_id_map.values()),
    "STATE/UT" : list(state_id_map.keys()),
    "TOTAL IPC CRIMES" : list(change_crime_dict.values()),
})
total_crime_2001_dataset

    id                  STATE/UT  TOTAL IPC CRIMES
0   35  Andaman & Nicobar Island              1316
1   28            Andhra Pradesh            260178
2   12        Arunanchal Pradesh              4684
3   18                     Assam             73754
4   10                     Bihar            176864
5    4                Chandigarh              6794
6   22              Chhattisgarh             76920
7   26    Dadara & Nagar Havelli               700
8   25               Daman & Diu               478
9   30                       Goa              4682
10  24                   Gujarat            206838
11   6                   Haryana             77518
12   2          Himachal Pradesh             22998
13   1           Jammu & Kashmir             39010
14  20                 Jharkhand             50894
15  29                 Karnataka            218196
16  32                    Kerala            207694
17  31               Lakshadweep                72
18  23            Madhya Pradesh            363482
19  27               Maharashtra            342466
20  14                   Manipur              4978
21  17                 Meghalaya              3374
22  15                   Mizoram              4492
23   7              NCT of Delhi              2468
24  13                  Nagaland            108768
25  21                    Odisha             93322
26  34                Puducherry              8136
27   3                    Punjab             55548
28   8                 Rajasthan            310370
29  11                    Sikkim               888
30  33                Tamil Nadu            309602
31   0                 Telangana              1000
32  16                   Tripura              5602
33   9             Uttar Pradesh            356258
34   5               Uttarakhand             16146
35  19               West Bengal            123126

### Plotting the Map with respect to total crimes

In [14]:
fig = px.choropleth(
    total_crime_2001_dataset,
    locations="id",
    geojson=india_states,
    color="TOTAL IPC CRIMES",
    hover_name="STATE/UT",
    hover_data=["TOTAL IPC CRIMES"],
    title="India Total Crimes per State"
)
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

### Importing the education dataset

In [15]:
# Importing csv files representing our 3 datasets related to indian crime
indian_education_dataset = pd.read_csv('../datasets folder/Educational_standard_of_inmates.csv')
display(indian_education_dataset)

,STATE/UT,YEAR,DEMOGRAPHIC PARTICULARS,Male Convicts,Female Convicts,Total Convicts,Male Under trial,Female Under trial,Total Under trial,Male Detenues,Female Detenues,Total Detenues,Male Others,Female Others,Total Others,Total Male,Total Female,Grand Total
0,ANDHRA PRADESH,2001,Educational Standard,4119,102,4221,8360,482,8842,4,1,5,22,0,22,12505,585,13090
1,ANDHRA PRADESH,2001,Educational Standard - Illiterate,1441,82,1523,3794,361,4155,1,1,2,8,0,8,5244,444,5688
2,ANDHRA PRADESH,2001,Educational Standard - Below Class X,1729,20,1749,2833,89,2922,0,0,0,10,0,10,4572,109,4681
3,ANDHRA PRADESH,2001,Educational Standard - Class X and above but b...,532,0,532,1260,26,1286,2,0,2,2,0,2,1796,26,1822
4,ANDHRA PRADESH,2001,Educational Standard - Graduate,299,0,299,272,3,275,0,0,0,2,0,2,573,3,576
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2870,PONDICHERRY,2012,Educational Standard - Below Class X,42,1,43,74,0,74,0,0,0,0,0,0,116,1,117
2871,PONDICHERRY,2012,Educational Standard - Class X and above but b...,14,0,14,48,0,48,0,0,0,0,0,0,62,0,62
2872,PONDICHERRY,2012,Educational Standard - Graduate,8,0,8,8,0,8,0,0,0,0,0,0,16,0,16
2873,PONDICHERRY,2012,Educational Standard - Post-Graduate,0,0,0,1,0,1,0,0,0,0,0,0,1,0,1
2874,PONDICHERRY,2012,Educational Standard - Holding technical degre...,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1

In [16]:
education_dataset_illiterate = indian_education_dataset[['STATE/UT','YEAR','DEMOGRAPHIC PARTICULARS', 'Male Convicts']].loc[
    indian_education_dataset['DEMOGRAPHIC PARTICULARS'] == 'Educational Standard - Illiterate']

In [17]:
for year in range(2001,2013):
    education_dataset_illiterate = education_dataset_illiterate.append({'STATE/UT': 'TELANGANA', 'YEAR': year, 'DEMOGRAPHIC PARTICULARS':'Educational Standard - Illiterate', 'Male Convicts': 100}, ignore_index=True)

In [18]:
education_dataset_illiterate

           STATE/UT  YEAR            DEMOGRAPHIC PARTICULARS  Male Convicts
0    ANDHRA PRADESH  2001  Educational Standard - Illiterate           1441
1    ANDHRA PRADESH  2002  Educational Standard - Illiterate           1931
2    ANDHRA PRADESH  2003  Educational Standard - Illiterate           1653
3    ANDHRA PRADESH  2004  Educational Standard - Illiterate           1616
4    ANDHRA PRADESH  2005  Educational Standard - Illiterate           1592
..              ...   ...                                ...            ...
418       TELANGANA  2008  Educational Standard - Illiterate            100
419       TELANGANA  2009  Educational Standard - Illiterate            100
420       TELANGANA  2010  Educational Standard - Illiterate            100
421       TELANGANA  2011  Educational Standard - Illiterate            100
422       TELANGANA  2012  Educational Standard - Illiterate            100

[423 rows x 4 columns]

In [19]:
education_states_list = list(education_dataset_illiterate["STATE/UT"].unique())
education_states_list

['ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHHATTISGARH',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'ORISSA',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMILNADU',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARANCHAL',
 'WEST BENGAL',
 'A & N ISLANDS',
 'CHANDIGARH',
 'D & N HAVELI',
 'DAMAN & DIU',
 'DELHI',
 'LAKSHADWEEP',
 'PONDICHERRY',
 'TELANGANA']

In [20]:
state_id_map_list = list(state_id_map.keys())
missing_states, correct_states = check_missing_state_names(state_id_map=state_id_map_list, crime_dict=education_states_list)
missing_states.sort()
correct_states.sort()
print(missing_states)
print(correct_states)

['A & N ISLANDS', 'ARUNACHAL PRADESH', 'D & N HAVELI', 'DELHI', 'ORISSA', 'PONDICHERRY', 'TAMILNADU', 'UTTARANCHAL']
['Andaman & Nicobar Island', 'Arunanchal Pradesh', 'Dadara & Nagar Havelli', 'NCT of Delhi', 'Odisha', 'Puducherry', 'Tamil Nadu', 'Uttarakhand']

In [21]:
for i in range(len(missing_states)):
    education_dataset_illiterate['STATE/UT'] = education_dataset_illiterate['STATE/UT'].replace(missing_states[i],correct_states[i].upper())

In [22]:
check_missing_state_names(state_id_map=state_id_map_list, crime_dict=list(education_dataset_illiterate['STATE/UT'].unique()))

([], [])

In [23]:
education_dataset_illiterate

           STATE/UT  YEAR            DEMOGRAPHIC PARTICULARS  Male Convicts
0    ANDHRA PRADESH  2001  Educational Standard - Illiterate           1441
1    ANDHRA PRADESH  2002  Educational Standard - Illiterate           1931
2    ANDHRA PRADESH  2003  Educational Standard - Illiterate           1653
3    ANDHRA PRADESH  2004  Educational Standard - Illiterate           1616
4    ANDHRA PRADESH  2005  Educational Standard - Illiterate           1592
..              ...   ...                                ...            ...
418       TELANGANA  2008  Educational Standard - Illiterate            100
419       TELANGANA  2009  Educational Standard - Illiterate            100
420       TELANGANA  2010  Educational Standard - Illiterate            100
421       TELANGANA  2011  Educational Standard - Illiterate            100
422       TELANGANA  2012  Educational Standard - Illiterate            100

[423 rows x 4 columns]

In [24]:
states_list = list(education_dataset_illiterate['STATE/UT'].unique())
states_list.sort()

In [25]:
states_list

['ANDAMAN & NICOBAR ISLAND',
 'ANDHRA PRADESH',
 'ARUNANCHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'CHANDIGARH',
 'CHHATTISGARH',
 'DADARA & NAGAR HAVELLI',
 'DAMAN & DIU',
 'GOA',
 'GUJARAT',
 'HARYANA',
 'HIMACHAL PRADESH',
 'JAMMU & KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'LAKSHADWEEP',
 'MADHYA PRADESH',
 'MAHARASHTRA',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'NCT OF DELHI',
 'ODISHA',
 'PUDUCHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'SIKKIM',
 'TAMIL NADU',
 'TELANGANA',
 'TRIPURA',
 'UTTAR PRADESH',
 'UTTARAKHAND',
 'WEST BENGAL']

In [26]:
states_dict = {}
sorted_state_id_map = sorted_dict = dict(sorted(state_id_map.items()))
for upper_case_state, correct_state in zip(states_list, list(sorted_state_id_map.keys())):
    states_dict[upper_case_state] = state_id_map[correct_state]

In [27]:
education_dataset_illiterate['id'] = education_dataset_illiterate['STATE/UT'].map(states_dict)

In [28]:
education_dataset_illiterate

,STATE/UT,YEAR,DEMOGRAPHIC PARTICULARS,Male Convicts,id
0,ANDHRA PRADESH,2001,Educational Standard - Illiterate,1441,28
1,ANDHRA PRADESH,2002,Educational Standard - Illiterate,1931,28
2,ANDHRA PRADESH,2003,Educational Standard - Illiterate,1653,28
3,ANDHRA PRADESH,2004,Educational Standard - Illiterate,1616,28
4,ANDHRA PRADESH,2005,Educational Standard - Illiterate,1592,28
...,...,...,...,...,...
418,TELANGANA,2008,Educational Standard - Illiterate,100,0
419,TELANGANA,2009,Educational Standard - Illiterate,100,0
420,TELANGANA,2010,Educational Standard - Illiterate,100,0
421,TELANGANA,2011,Educational Standard - Illiterate,100,0
422,TELANGANA,2012,Educational Standard - Illiterate,100,0

In [29]:
fig = px.choropleth(
    education_dataset_illiterate,
    locations="id",
    geojson=india_states,
    color="Male Convicts",
    hover_name="STATE/UT",
    hover_data=["Male Convicts"],
    title="India's number of male convicts per State/Ut",
    animation_frame="YEAR"
)
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

### Working on the GDP dataset

In [30]:
gdp_dataset = pd.read_csv('../datasets folder/Districtwise_GDP_and_growth_rate_based_at_current_price_2004-05_AndhraPradesh_1.csv')

In [31]:
gdp_dataset

,Year,Description,Adilabad,Anantapur,Chittoor,Godavari East,Godavari West,Guntur,Hyderabad,Kadapa,...,Medak,Nalgonda,Nellore,Nizambad,Prakasam,Rangareddy,Srikakulam,Visakapatnam,Vizianagaram,Warangal
0,2004-05,GDP (in Rs. Cr.),6527.41,9286.21,9048.39,17289.90,12704.42,11878.60,16932.79,6287.94,...,8906.57,7658.54,7612.73,4869.16,8507.54,13310.46,5059.99,19371.01,4988.90,7349.51
1,2005-06,GDP (in Rs. Cr.),7058.60,10047.71,10390.13,16827.15,12791.82,14374.44,20523.91,7050.27,...,10613.40,9047.11,8607.98,5940.28,9959.52,17377.63,5570.88,20497.10,5315.09,8530.56
2,2006-07,GDP (in Rs. Cr.),8300.56,11252.83,11594.82,20208.88,14156.37,16183.82,25016.85,12448.79,...,13879.77,10423.51,10215.80,6557.73,11801.02,21023.21,6482.82,24695.94,6125.50,9289.90
3,2007-08,GDP (in Rs. Cr.),9860.16,15937.45,14241.18,24081.05,17473.10,19125.08,30038.38,14393.29,...,14716.18,14736.51,11952.25,7976.66,13304.80,24916.80,7615.25,30570.33,7639.31,11233.17
4,2008-09,GDP (in Rs. Cr.),12342.93,17713.73,15998.11,27446.05,18552.27,22550.47,35536.76,11911.79,...,18732.63,18346.31,14451.33,11428.43,17495.58,31846.81,8835.04,30638.93,8886.84,13705.13
5,2009-10,GDP (in Rs. Cr.),13291.00,18647.00,17628.00,31687.00,22711.00,26441.00,39564.00,13197.00,...,20744.00,18634.00,16455.00,10507.00,19389.00,34069.00,10427.00,37274.00,10104.00,14441.00
6,2010-11,GDP (in Rs. Cr.),16508.00,22071.00,22257.00,34374.00,28340.00,30764.00,47610.00,16548.00,...,30668.00,22185.00,18231.00,14242.00,23450.00,48226.00,12149.00,42841.00,12187.00,19107.00
7,2011-12,GDP (in Rs. Cr.),17330.00,25577.00,26862.00,38600.00,30692.00,36133.00,54839.00,18875.00,...,36418.00,24830.00,22349.00,15163.00,26593.00,54814.00,14023.00,50503.00,13864.00,20255.00
8,2012-13,GDP (in Rs. Cr.),19641.00,29133.00,30593.00,44254.00,35456.00,41650.00,62894.00,21440.00,...,40075.00,28174.00,25569.00,17407.00,30474.00,61199.00,16050.00,56668.00,15858.00,23247.00
9,2005-06,Growth Rate % (YoY),8.14,8.20,14.83,-2.68,0.69,21.01,21.21,12.12,...,19.16,18.13,13.07,22.00,17.07,30.56,10.10,5.81,6.54,16.07
10,2006-07,Growth Rate % (YoY),17.59,11.99,11.59,20.10,10.67,12.59,21.89,76.57,...,30.78,15.21,18.68,10.39,18.49,20.98,16.37,20.49,15.25,8.90
11,2007-08,Growth Rate % (YoY),18.79,41.63,22.82,19.16,23.43,18.17,20.07,15.62,...,6.03,41.38,17.00,21.64,12.74,18.52,17.47,23.79,24.71,20.92
12,2008-09,Growth Rate % (YoY),25.18,11.15,12.34,13.97,6.18,17.91,18.30,-17.24,...,27.29,24.50,20.91,43.27,31.50,27.81,16.02,0.22,16.33,22.01
13,2009-10,Growth Rate % (YoY),7.68,5.27,10.19,15.45,22.42,17.25,11.33,10.79,...,10.74,1.57,13.86,-8.06,10.82,6.98,18.02,21.66,13.70,5.37
14,2010-11,Growth Rate % (YoY),24.20,18.36,26.26,8.48,24.79,16.35,20.34,25.39,...,47.84,19.06,10.79,35.55,20.94,41.55,16.51,14.94,20.62,32.31
15,2011-12,Growth Rate % (YoY),4.98,15.89,20.69,12.29,8.30,17.45,15.18,14.06,...,18.75,11.92,22.59,6.47,13.40,13.66,15.43,17.88,13.76,6.01
16,2012-13,Growth Rate % (YoY),13.34,13.90,13.89,14.65,15.52,15.27,14.69,13.59,...,10.04,13.47,14.41,14.80,14.59,11.65,14.45,12.21,14.38,14.77

In [32]:
## Extracting only the GDP from the dataset
gdp_dataset = gdp_dataset.loc[gdp_dataset['Description'] == 'GDP (in Rs. Cr.)']
gdp_dataset

,Year,Description,Adilabad,Anantapur,Chittoor,Godavari East,Godavari West,Guntur,Hyderabad,Kadapa,...,Medak,Nalgonda,Nellore,Nizambad,Prakasam,Rangareddy,Srikakulam,Visakapatnam,Vizianagaram,Warangal
0,2004-05,GDP (in Rs. Cr.),6527.41,9286.21,9048.39,17289.90,12704.42,11878.60,16932.79,6287.94,...,8906.57,7658.54,7612.73,4869.16,8507.54,13310.46,5059.99,19371.01,4988.90,7349.51
1,2005-06,GDP (in Rs. Cr.),7058.60,10047.71,10390.13,16827.15,12791.82,14374.44,20523.91,7050.27,...,10613.40,9047.11,8607.98,5940.28,9959.52,17377.63,5570.88,20497.10,5315.09,8530.56
2,2006-07,GDP (in Rs. Cr.),8300.56,11252.83,11594.82,20208.88,14156.37,16183.82,25016.85,12448.79,...,13879.77,10423.51,10215.80,6557.73,11801.02,21023.21,6482.82,24695.94,6125.50,9289.90
3,2007-08,GDP (in Rs. Cr.),9860.16,15937.45,14241.18,24081.05,17473.10,19125.08,30038.38,14393.29,...,14716.18,14736.51,11952.25,7976.66,13304.80,24916.80,7615.25,30570.33,7639.31,11233.17
4,2008-09,GDP (in Rs. Cr.),12342.93,17713.73,15998.11,27446.05,18552.27,22550.47,35536.76,11911.79,...,18732.63,18346.31,14451.33,11428.43,17495.58,31846.81,8835.04,30638.93,8886.84,13705.13
5,2009-10,GDP (in Rs. Cr.),13291.00,18647.00,17628.00,31687.00,22711.00,26441.00,39564.00,13197.00,...,20744.00,18634.00,16455.00,10507.00,19389.00,34069.00,10427.00,37274.00,10104.00,14441.00
6,2010-11,GDP (in Rs. Cr.),16508.00,22071.00,22257.00,34374.00,28340.00,30764.00,47610.00,16548.00,...,30668.00,22185.00,18231.00,14242.00,23450.00,48226.00,12149.00,42841.00,12187.00,19107.00
7,2011-12,GDP (in Rs. Cr.),17330.00,25577.00,26862.00,38600.00,30692.00,36133.00,54839.00,18875.00,...,36418.00,24830.00,22349.00,15163.00,26593.00,54814.00,14023.00,50503.00,13864.00,20255.00
8,2012-13,GDP (in Rs. Cr.),19641.00,29133.00,30593.00,44254.00,35456.00,41650.00,62894.00,21440.00,...,40075.00,28174.00,25569.00,17407.00,30474.00,61199.00,16050.00,56668.00,15858.00,23247.00

## As we have the GDP for AP and the data is present for 2004 - 2012. We can consider crimes betweem 2004 - 2012 in AP
Checking if the years are available and creating a dataset with them

In [33]:
crime_dataset_AP = indian_crime_df.loc[(indian_crime_df['STATE/UT'] == "ANDHRA PRADESH")]
crime_dataset_AP = crime_dataset_AP[crime_dataset_AP['YEAR'].isin([2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012])]

### Focusing on 2 districts for now. Lets take Chittoor and Visakhapatnam

In [34]:
crime_dataset_chittoor = crime_dataset_AP.loc[crime_dataset_AP['DISTRICT'] == 'CHITTOOR']
crime_dataset_visakhapatnam = crime_dataset_AP.loc[crime_dataset_AP['DISTRICT'] == 'VISAKHAPATNAM']

## We have two datasets with GDP and crimes in Chittoor and Visakhapatnam cities.
Now lets combine the GDP to the crime dataset for each of the districts

In [35]:
chittoor_gdp = gdp_dataset['Chittoor'].values
crime_dataset_chittoor['GDP'] = chittoor_gdp

In [36]:
crime_dataset_chittoor

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,GDP
2165,ANDHRA PRADESH,CHITTOOR,2004,105,52,1,28,0,28,69,...,1065,22,116,197,234,0,2058,1188,6960,9048.39
2894,ANDHRA PRADESH,CHITTOOR,2005,105,40,0,35,0,35,72,...,891,9,91,223,202,0,541,2573,6746,10390.13
3627,ANDHRA PRADESH,CHITTOOR,2006,126,59,1,31,0,31,65,...,996,18,123,190,249,0,563,2337,6440,11594.82
4367,ANDHRA PRADESH,CHITTOOR,2007,129,72,2,31,0,31,102,...,1101,25,118,197,395,0,620,2499,7095,14241.18
5110,ANDHRA PRADESH,CHITTOOR,2008,123,65,7,30,0,30,84,...,1017,26,104,250,288,0,730,2535,7307,15998.11
5871,ANDHRA PRADESH,CHITTOOR,2009,85,68,2,33,0,33,74,...,1040,19,120,268,333,0,682,2582,7268,17628.00
6638,ANDHRA PRADESH,CHITTOOR,2010,100,50,1,44,0,44,85,...,827,32,136,121,388,0,552,1977,5218,22257.00
7417,ANDHRA PRADESH,CHITTOOR,2011,91,55,5,17,0,17,84,...,1848,25,124,168,421,0,500,758,5224,26862.00
8208,ANDHRA PRADESH,CHITTOOR,2012,91,75,5,28,0,28,56,...,622,33,90,269,339,0,520,1398,4465,30593.00

In [37]:
visakhapatnam_gdp = gdp_dataset['Visakapatnam'].values
crime_dataset_visakhapatnam['GDP'] = visakhapatnam_gdp

In [38]:
crime_dataset_visakhapatnam

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,CULPABLE HOMICIDE NOT AMOUNTING TO MURDER,RAPE,CUSTODIAL RAPE,OTHER RAPE,KIDNAPPING & ABDUCTION,...,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,CAUSING DEATH BY NEGLIGENCE,OTHER IPC CRIMES,TOTAL IPC CRIMES,GDP
2188,ANDHRA PRADESH,VISAKHAPATNAM,2004,27,27,3,12,0,12,27,...,374,1,24,43,243,0,183,784,3182,19371.01
2917,ANDHRA PRADESH,VISAKHAPATNAM,2005,27,48,0,28,0,28,37,...,495,2,45,86,361,0,184,1336,4455,20497.10
3650,ANDHRA PRADESH,VISAKHAPATNAM,2006,37,30,1,21,0,21,49,...,540,10,62,30,397,0,247,2095,5478,24695.94
4390,ANDHRA PRADESH,VISAKHAPATNAM,2007,21,23,1,24,0,24,39,...,513,14,100,25,535,0,255,1912,5480,30570.33
5133,ANDHRA PRADESH,VISAKHAPATNAM,2008,32,36,1,29,0,29,34,...,412,13,87,2,488,0,313,1886,5015,30638.93
5894,ANDHRA PRADESH,VISAKHAPATNAM,2009,28,25,4,39,0,39,48,...,473,13,95,54,481,0,428,1979,5416,37274.00
6664,ANDHRA PRADESH,VISAKHAPATNAM,2010,24,25,4,53,0,53,34,...,2443,11,59,52,393,0,466,1516,7112,42841.00
7443,ANDHRA PRADESH,VISAKHAPATNAM,2011,39,34,5,57,0,57,50,...,1308,12,31,50,386,0,410,577,4886,50503.00
8234,ANDHRA PRADESH,VISAKHAPATNAM,2012,44,27,1,50,0,50,27,...,1207,11,23,11,412,0,395,601,4626,56668.00

In [39]:
list_of_crimes =[
    'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES',
       'GDP'
]

In [40]:
fig = px.line(crime_dataset_chittoor, x="GDP", y=list_of_crimes, title="Crime type vs GDP for Chittoor",
              hover_data=["YEAR"], markers=True)
fig.show()

In [41]:
fig = px.line(crime_dataset_visakhapatnam, x="GDP", y=list_of_crimes, title="Crime type vs GDP for Visakhapatnam", hover_data=["YEAR"], markers=True)
fig.show()

## Plotting the values for each crime types per district

In [42]:
import numpy as np
import plotly.graph_objects as go
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

<ipython-input-42-351572ec809b>:4: UserWarning:


The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

<ipython-input-42-351572ec809b>:5: UserWarning:


The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

In [43]:
fig1 = px.bar(
    indian_crime_df, #dataframe
    x = indian_crime_df.groupby("STATE/UT")["TOTAL IPC CRIMES"].agg(sum), #x
    y=indian_crime_df["STATE/UT"].unique(),#y
    labels={"x": "Total Recorded", "y": "States"}, #define lable
    color = indian_crime_df.groupby("STATE/UT")["TOTAL IPC CRIMES"].agg(sum),
    color_continuous_scale=px.colors.sequential.YlGnBu,#color
    text=indian_crime_df.groupby("STATE/UT")["TOTAL IPC CRIMES"].agg(sum),#text
    title="Recorded Crime by States", #title
    orientation="h"  #horizonal bar chart
)

fig1.update_layout(
    title=dict(x=0.5), #set title in the center
    margin=dict(l=60, r=30, t=100, b=30) #set margin of the chart
)
    
fig1.update_traces(texttemplate="%{text:.2s}") #formart the text